@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i&subset=cyrillic-ext');

body {
  background-color: #ffffff;
  font-family: roboto;
  font: size 12px;
}

.container{
    width:1180px;
    margin-left:auto;
    margin-right:auto;
}
.complex-types {
  display: flex;
  justify-content: center;
}

.complex-types__rectangle {
  display: flex;
  flex-wrap: wrap;
  min-width:220px;
  max-width:0;
  height: 90px;
  border: 2px solid #a6191f;
  border-radius: 8px;
  margin-left: 20px; /*Есть соображения, что надо сделать этой штуке паддинги, вместо марджинов во всем вложенном*/
  margin-top: 17px;
  opacity:0.2;
}

.complex-types__rectangle_selected {
opacity:1.0;
}
.complex-types__rectangle-name {
  display: flex;
  font-size: 18px;
  font-weight:500;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.complex-types__rectangle-cost {
  display: flex;
  font-size: 18px;
  color: #a6191f;
  margin-left: 61px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.complex-types__rectangle-description {
  display: flex;
  font-size: 12px;
  margin-bottom: 14px;
  margin-left: 15px;
}
.complex-types__rectangle-onlyname {
  margin: 34px 46px;
  font-weight:500;
}
.salads{
  width: 700px;
height: 670px;
border: 2px solid #a6191f;
border-radius:8px;
margin-left:20px; 
}
.salads-item{
  display:flex;
  flex-wrap: wrap;
  width: 660px;
  height: 80px; 

}
.salads-item_name{
  font-size:16px;
  width: 288px;
  height: 19px;
  padding: right 15px;
}

.salads-item_lent{
  font-size:12px;
  width: 50px;
  height: 15px;
  border: 1px solid #a6191f;
  border-radius:2px;  
  padding-left:15px;
}

.salads-item_cost{
  width: 33px;
  height: 19px;
  padding-left:60px;
}

.salads-item_round{
  width: 20px;
  height: 20px;
  border: 1px solid #a6191f;
border-radius:20px;
}


.salads-item_line{
  width: 80%; 
  height: 4px; 
  background: #333; 
  border: 0; 
  margin: 5px 0 5px 0; 
}
.salads-item_receipt{
  padding-left:20px;
  font-size:12px; 
  width: 425px;
  height: 29px;
}

.salads-item_weight{
  font-size:12px; 
  width: 29px;
  height: 15px;
}