@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i&subset=cyrillic-ext');

body {
  background-color: #ffffff;
  font-family: roboto;
  font: size 12px;
}

.container{
    width:1180px;
    margin-left:auto;
    margin-right:auto;
}
.complex-types {
  display: flex;
  justify-content: center;
}

.complex-types__rectangle {
  display: flex;
  flex-wrap: wrap;
  min-width:220px;
  max-width:0;
  height: 90px;
  border: 2px solid #a6191f;
  border-radius: 8px;
  margin-left: 20px; /*Есть соображения, что надо сделать этой штуке паддинги, вместо марджинов во всем вложенном*/
  margin-top: 17px;
  opacity:0.2;
}

.complex-types__rectangle_selected {
opacity:1.0;
}
.complex-types__rectangle-name {
  display: flex;
  font-size: 18px;
  font-weight:500;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.complex-types__rectangle-cost {
  display: flex;
  font-size: 18px;
  color: #a6191f;
  margin-left: 61px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.complex-types__rectangle-description {
  display: flex;
  font-size: 12px;
  margin-bottom: 14px;
  margin-left: 15px;
}
.complex-types__rectangle-onlyname {
  margin: 34px 46px;
  font-weight:500;
}
.menu{
  width: 700px;
height: 820 px;
border: 2px solid #a6191f;
border-radius:8px;
padding:0px 0px;
margin:0px 0px;
}
.menu__item{
  display:flex;
  flex-wrap: wrap;
  align-items:center; 
  width: 660px;
  height: 100px;
  padding:20px 20px;

}
.menu__item_name{
  font-size:16px;
  width: 406px;
  height: 19px;
  padding-bottom:7px;
  padding-right:20px;
  margin: 0px 0px;
}

.menu__item_name_lent{
  font-size:12px;
  width: 50px;
  height: 15px;
  border: 1px solid #a6191f;
  border-radius:2px;
  margin: 0px 0px;  
}

.menu__item_cost{
  color: #A6191F;
  width: 33px;
  height: 19px;
  padding-left: 55px;
  padding-bottom:7px;
  margin:0px 0px;
}

.menu__item_cart{
  width: 80px;
  height: 20px;
  padding-left:20px;
}
.menu__item_cart_plus{
  height:20px;
  line-height: 8px;
  width: 20px;
  padding: 0px 0px;   
  border: 2px solid #A6191F;
  border-radius:20px; 
  text-align:center;
}

.menu__item_cart_minus{
  box-sizing:border-box;
  height:20px;
  line-height: 8px;
  width: 20px;
  padding: 0px 0px;
  border: 2px solid #A6191F;
  border-radius:20px; 
  text-align:center;
}

.menu__item_line{
  width: 500px; 
  height: 2px; 
  background: #333; 
  border: 0; 
  margin: 0px 0px;
  padding: 0px 0px;
}
.menu__item_receipt{
  font-size:12px; 
  width: 425px;
  height: 29px;
  margin: 0px 0px;
  padding-top:7px;
  padding-right:10px;  

}

.menu__item_weight{
  font-size:12px; 
  width: 29px;
  height: 15px;
  margin: 0px 0px;
  padding-left:50px;  
}