@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i&subset=cyrillic-ext');

body {
  background-color: #ffffff;
  font-family: roboto;
  font: size 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

ul{
  list-style-type:none;
}
.complex-types {
  display: flex;
  justify-content: center;
  margin-bottom:20px;
}

.complex-types__rectangle {
  display: flex;
  flex-wrap: wrap;
  min-width: 216px;
  max-width: 0;
  height: 90px;
  border: 2px solid #a6191f;
  border-radius: 8px;
  margin-left: 20px; 
  margin-top: 17px;
  opacity: 0.2;
}

.complex-types__rectangle_selected {
  opacity: 1;
}
.complex-types__rectangle-name {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.complex-types__rectangle-cost {
  display: flex;
  font-size: 18px;
  color: #a6191f;
  margin-left: 61px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.complex-types__rectangle-description {
  display: flex;
  font-size: 12px;
  margin-bottom: 14px;
  margin-left: 15px;
}
.complex-types__rectangle-onlyname {
  margin: 34px 46px;
  font-weight: 500;
}
.menu {
  width: 696px;
  height: 820 px;
  border: 2px solid #a6191f;
  border-radius: 8px;
  padding: 0px 0px;
  margin-bottom:20px;
  margin-left:20px;
}
.menu__header {
display:flex;
justify-content: space-between;
widows: 680px;
height:30px;
}
.menu__header_type{
  font-size: 22px;
  font-weight: 500;
  color:#a6191f;
  padding-left:20px;
  padding-top:20px;
}

.menu__header_choose{
  color:#9BA0A0;
  font-size: 12px;
  padding-right:20px;
  padding-top:20px;
}


.menu__item{
  padding-top:20px;
  display:flex;
  align-items:center;
}

.menu__item_box {
  display:flex;
  flex-wrap: wrap;
  align-content: flex-start;  
  width: 660px;
  height: 80px;
  padding: 20px 20px;
}

.menu__item_box_firstline{
  width:570px;
  display:flex;
  justify-content: space-between;
  padding-top:15px; 
}

.menu__item_box_secondline{
  width:570px;
  display:flex;
  justify-content: space-between; 
  padding-bottom:15px; 
}
.menu__item_box_firstline_name {
  font-size: 16px;
  height: 19px;
  padding-bottom: 7px;
  margin: 0px 0px;
}

.menu__item_box_firstline_name_lent {
  font-size: 12px;
  height: 15px;
  border: 1px solid #a6191f;
  border-radius: 2px; 
}

.menu__item_box_firstline_cost {
  color: #a6191f;
  padding-bottom: 7px;
  margin: 0px 0px;
}

.menu__item_cart {
  display:flex;
  align-items: center;
  width: 60px;
  height: 80px;
  padding-right:20px;
}
.menu__item_cart_plus {
  background-color: #ffffff;
  color:#a6191f;
  height: 20px;
  line-height: 8px;
  width: 20px;
  padding: 0px 0px;
  border: 2px solid #a6191f;
  border-radius: 20px;
  text-align: center;
}

.menu__item_cart_minus {
  background-color: #ffffff;
  color:#a6191f;
  height: 20px;
  line-height: 8px;
  width: 20px;
  padding: 0px 0px;
  border: 2px solid #a6191f;
  border-radius: 20px;
  text-align: center;
}

.menu__item_cart_quantity{
  padding-left:5px;
  padding-right:5px;
  font-size: 16px;
}

.menu__item_box_line {
  width: 570px;
  height: 0px;
  background: #333;
  border: 0.5px solid #9ba0a0;
  margin: 0px 0px;
  padding: 0px 0px;
}
.menu__item_box_secondline_receipt {
  font-size: 12px;
  margin: 0px 0px;
  padding-top: 7px; 
}

.menu__item_box_secondline_weight {
  font-size: 12px;
  padding-top: 7px;
  margin: 0px 0px;
}

.order{
  width: 456px;
height: 160px;
border: 2px solid #a6191f;
border-radius: 10px;
background-color:  #a6191f;
color:#FFFFFF;
margin-left:20px;
}

.order__line{
width:420px;  
  border: 1px solid #C15E62;
}

.menu__header{
  display: flex;
  flex-wrap: wrap;

}
.menu__header_choose{
  width: 260px;
height: 15px;
}